*{
    box-sizing: border-box;
}

label{
    font-size: 14pt;
    margin-right: 10px;
}

input{
    font-size: 12pt;
    margin-right: 10px;
}

.state_name{
    width: 250px;
    padding-left: 10px;
}

li{
    list-style: none;
    font-size: 14pt;
    padding-bottom: 20px;
}